<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wika.she">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.ModeUmum"/>
        <activity android:name=".activity.ModePelaksana"/>
        <activity android:name=".activity.ModeAdmin"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.FormComissioningAlat"/>
        <activity android:name=".activity.FormComissioningAlat2"/>
        <activity android:name=".activity.PengajuanIjinKerja1">
        </activity>
    </application>

</manifest>